.aboutBorder, .experienceBorder, .contactBorder{
  background-color: white;
  color: blue;
  margin-bottom: 20px;
  -webkit-border-radius: 50px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius: 50px;
  -moz-border-radius-bottomright: 5px;
  border-radius: 50px;
  border-bottom-right-radius: 5px;
  padding: 5px 20px;
  border-style: double;
}

.active {
  background-color: blue;
  color: white;
}

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.return {
  color: white;
  text-align: center;
  width: 80%;
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

span {
  font-weight: bold;
}

li a {
  display: block;

  background-color: #555;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: gray;
  color: white;
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("Pictures/frontPageBackground.jpg");
  overflow-x: hidden;
  padding-top: 20px;
}

p a{
  text-decoration: none;
}

.content-container {
  margin-left: 160px;
  padding: 0px 10px;
  height: 100%;
}
